@import "../../colors.scss";


.container {
    text-align: center;
    margin-top: 10vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.haveyou {
    font-weight: bold;
    font-size: 2rem;
}


.lost {
    display: none;
}


.ifyou {
    font-size: 4vh;
}


.emaildiv {
    position: relative;
    width: 40%;
}

.icon {
    position: absolute;
    top: 2px;
    margin-left: 96%;
    display: none;
}

.emailimput {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 3vh;
}






.btn {
    width: 40%;
}




@media only screen and (max-width: 992px) {


    .emaildiv {
        width: 65%;
    }

    .btn {
        width: 65%;
    }
}


@media only screen and (max-width:600px) {


    .emaildiv {
        width: 85%;
    }

    .haveyou {
        display: none;
    }

    .btn {
        width: 85%;
    }

    .lost {
        display: block;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .container {
        text-align: left;
            
    }
    .icon {
        display: block;
    }
    
}