<div class="container">
    <div class="haveyou">Have you Forgotten Your Password?</div> <br><br>
    <div class="lost">Lost password</div><br>
    <div class="ifyou">If you've forgotten your password, enter your e-mail <br> address and we'll send you an e-mail</div>
    <br><br><br>


    <div class="emaildiv">
        
        <div class="icon">
            <img src="../../../assets/Icon color.png" alt=""  (click)="deletdata()">
        </div>

        <div ><input type="text" placeholder="Email" class="emailimput" [(ngModel)]="prop" id=""> </div><br>
    </div><br>


    <button type="button" class="btn btn-dark btnsignin" (click)="func()">RESET PASSWORD</button>


</div>